---
title: Pivotal DCA Documentation
---

###General Documentation###

<p><a href="general/pdf/Pivotal_Clustering_Concepts_R01.pdf" target="_blank">Pivotal Clustering Concepts Guide</a></p>

###Release Documentation###

<p>The Pivotal (formerly EMC) DCA release documentation is currently only available on the EMC Support Portal (support.emc.com).<br/>Login to the EMC Support Portal is required to access the following documentation links:</p>

<ul>
  <li><a href="https://support.emc.com/products/27044_Greenplum-Data-Computing-Appliance-V2/Documentation/" target="_blank">Pivotal DCA v2</a></li>

  <li><a href="https://support.emc.com/products/9507_Greenplum-Data-Computing-Appliance-V1/Documentation/" target="_blank">Pivotal DCA v1</a></li>
</ul>